.loadingcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.container {
    width: 1200px;
    margin: auto;
    position: relative;
    top: 150px;
    .swiperContainer {
        padding-top: 50px;
    }
    img {
        width: 400px;
        height: 400px;
        cursor: pointer;
    }
    p {
        text-align: center;
        font-size: 1.5rem; 
        position: relative;
        top: 2rem; 
        cursor: pointer;
    }
    .swiperContainer {
        margin: 50px;
    }
    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 35px;
        right: 25px;
        font-size: 1.875rem;
    }
}