.container {
    width: 1200px;
    margin: auto;
    position: relative;
    top: 200px;
    .img {
        width: 400px;
        height: 400px;
    }
    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
        transition: transform 0.5s ease-in-out;
        
        &:hover {
            transform: scale(1.1);
        }
    }
    p {
        text-align: center;
        margin-top: 20px;
    }
}
