.footerContainer {
    position: relative;
    top: 500px;
    background-color: white;
    padding: 50px 0;
  }
  
  .divider {
    border: none;
    height: 1px;
    background-color: gray;
    margin: 0 auto;
    width: 80%;
  }
  
  .logoContainer {
    width: 250px;
    margin: auto;
    position: relative;
    top: 12.5px;
    text-align: center;
  }
  
  .logo {
    padding-top: 30px;
    width: 100%;
    height: auto;
  }
  